apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
      - name: airflow
        image: apache/airflow:2.8.1-python3.11
        args: ["standalone"] # 중요: 한 컨테이너에서 DB 초기화, 웹서버, 스케줄러를 다 띄우는 학습용 모드
        env:
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          value: "postgresql+psycopg2://postgres:airflow@airflow-db:5432/airflow"
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: dags-data
          mountPath: /opt/airflow/dags

      - name: git-sync
        image: registry.k8s.io/git-sync/git-sync:v4.2.0
        args:
          - --repo=git@gitlab.com:dntlr92/tube-standard-etl.git
          - --ref=main             # --branch 대신 --ref 사용
          - --period=60s           # --wait 대신 --period 사용 (단위 s 필수)
          - --link=dags            # --dest 대신 --link 사용
          - --root=/git
          - --ssh-key-file=/etc/git-secret/ssh
          - --ssh-known-hosts=false # ← 이 줄이 핵심입니다! (서버 체크 끄기)
        env:
          - name: GIT_SSH_KEY_FILE
            value: /etc/git-secret/ssh
        volumeMounts:
          - name: dags-data
            mountPath: /git
          - name: git-ssh-key
            mountPath: /etc/git-secret
            readOnly: true

      volumes:
        - name: dags-data
          emptyDir: {}
        - name: git-ssh-key
          secret:
            secretName: airflow-ssh-secret  # 아까 만든 Secret 이름            
            defaultMode: 256          # 권한 설정 중요
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-web
spec:
  type: NodePort
  ports:
    - port: 8080
      nodePort: 30080
  selector:
    app: airflow
