apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
      - name: airflow
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: ["{{ .Values.airflow.mode }}"]
        env:
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.postgresql.secretName }}
              key: SQL_ALCHEMY_CONN
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: dags-data
          mountPath: /opt/airflow/dags

      - name: git-sync
        image: {{ .Values.dags.gitSync.image }}:{{ .Values.dags.gitSync.tag }}
        args:
          - --repo={{ .Values.dags.gitSync.repo }}
          - --ref={{ .Values.dags.gitSync.branch }}
          - --period={{ .Values.dags.gitSync.period }}
          - --link=dags
          - --root=/git
          - --ssh-key-file=/etc/git-secret/ssh
          - --ssh-known-hosts=false
        volumeMounts:
          - name: dags-data
            mountPath: /git
          - name: git-ssh-key
            mountPath: /etc/git-secret
            readOnly: true

      volumes:
        - name: dags-data
          emptyDir: {}
        - name: git-ssh-key
          secret:
            secretName: {{ .Values.dags.gitSync.sshKeySecret }}
            defaultMode: 0400
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-web
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  ports:
    - port: 8080
      nodePort: 30080
  selector:
    app: airflow
