apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: frontend=registry.gitlab.com/dntlr92/tube-standard-web:latest
    argocd-image-updater.argoproj.io/frontend.update-strategy: digest
    argocd-image-updater.argoproj.io/frontend.helm.image-spec: image.repository
    argocd-image-updater.argoproj.io/write-back-method: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/woohyeonDev/gitOpsInfra.git
    targetRevision: main
    path: apps/frontend
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
